.cache
.project
.classpath
.DS_Store
*.class
*.log

# sbt specific
.lib
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.settings

# Node modules
node_modules
